::selection {
    color:white;
    background: #8D4993;
}
body {
      font: 20px;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {

  background: #64CDF4; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-60deg, rgba(100, 205, 244,1), rgba(183, 232, 250,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-60deg, rgba(100, 205, 244,1), rgba(183, 232, 250,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-60deg, rgba(100, 205, 244,1), rgba(183, 232, 250,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, rgba(100, 205, 244,1), rgba(183, 232, 250,1)); /* Standard syntax */
 /* Blue */
      color: #ffffff;
  }
  .bg-404 {
  background: #232526; /* fallback for old browsers */
  min-height:1000px;
  background:url('http://res.cloudinary.com/dee8fnpvt/image/upload/v1486350652/Unight_404_vyavnx.png')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-size: 100% 100%;
 /* Blue */
  color: #ffffff;
  }
  .bg-1-alpha {

  background: #64CDF4; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-60deg, rgba(100, 205, 244,.5), rgba(183, 232, 250,.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-60deg, rgba(100, 205, 244,.5), rgba(183, 232, 250,.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-60deg, rgba(100, 205, 244,.5), rgba(183, 232, 250,.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, rgba(100, 205, 244,.5), rgba(183, 232, 250,.5)); /* Standard syntax */
 /* Blue */
      color: #ffffff;
  }/*http://www.publicdomainpictures.net/pictures/200000/velka/chicago-skyline-1476622708uk5.jpg*/
.background-img {
    background:url('http://res.cloudinary.com/dee8fnpvt/image/upload/v1489629298/actual_front_page_cfr0nb.png')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-size: 100% 100%;
}
.background-other-img {
    background:url('http://i.imgur.com/oYrYW43.jpg')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-size: 100% 100%;
}
.background-other-img-3 {
    background:url('http://i.imgur.com/2tDbRHE.jpg')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-size: 100% 100%;
}

  .bg-2 {
      background-color: #522256;
      background-image: -webkit-linear-gradient(30deg, #522256 65%, #682c6d 65%);
      background-color: #522256; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-image: -webkit-linear-gradient(150deg, rgba(255, 255, 255,1) 45%, rgba(242, 242, 242,1) 45%);
      color: #555555;
  }
  .bg-1-blue {
      background-image: -webkit-linear-gradient(150deg, rgba(255, 255, 255,1) 45%,rgba(100, 205, 244,1) 45%);
      color: #555555;
  }
  .bg-1-purple {
      background-image: -webkit-linear-gradient(30deg, rgba(255, 255, 255,0) 55%,rgba(100, 205, 244,1) 55%);
      color: #555555;
  }
  .bg-3-alpha {
      background-image: -webkit-linear-gradient(150deg, rgba(255, 255, 255,.7) 45%, rgba(242, 242, 242,.7) 45%);
      color: #555555;
  }
  .bg-3-full-alpha {
      background-image: -webkit-linear-gradient(30deg, rgba(255, 255, 255,.4) 55%, rgba(255, 255, 255,.6) 55%);
      text-shadow: #555 0px 0px 10px;
      color: #333;
  }
  .bg-4 {
      background-color: #522256;
      background-image: -webkit-linear-gradient(150deg, #522256 45%, #682c6d 45%);
      background-color: #522256; /* Dark Purple */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .welcome{
    text-shadow: #555 0px 0px 20px;
  }
  .navbar-nav  li a:hover {
      color: #64CDF4 !important;
  }
  .bump-body{
    padding-top: 40px;
  }
  .bump-push-bar{
    padding-top: 75px;
  }

[data-tip] {
  position:relative;

}
[data-tip]:before {
  content:'';
  /* hides the tooltip when not hovered */
  display:none;
  content:'';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a; 
  position:absolute;
  top:30px;
  left:35px;
  z-index:8;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}
[data-tip]:after {
  display:none;
  content:attr(data-tip);
  position:absolute;
  top:35px;
  left:0px;
  padding:5px 8px;
  background:#64CDF4;
  color:#fff;
  z-index:9;
  font-size: 0.75em;
  height:18px;
  line-height:18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space:nowrap;
  word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
  display:block;
}